<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">
      jdbc:mysql://localhost:3306/t5intro</property>
    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect</property>

    <property name="hibernate.connection.username">t5</property>
    <property name="hibernate.connection.password">secret</property>
    <property name="hbm2ddl.auto">update</property>

    <!--  
    
    create database t5intro;
    
    grant all on t5intro.* to 't5'@'localhost' identified by 'secret';
    
     -->

    <property name="hibernate.generate_statistics">true</property>

  </session-factory>
</hibernate-configuration>
